In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import glob, os
os.chdir("F:\\Amey work\\amey ml\\data\\")
cols = ["Div","Date","HomeTeam","AwayTeam","FTHG","FTAG","FTR"]#,"HTHG","HTAG","HTR"]

tempdf = pd.DataFrame()
for file in glob.glob("*.csv"):
    print(file)
    tempdf = pd.concat([tempdf,pd.read_csv(file,encoding = 'unicode_escape', usecols = cols)])

E0 (00).csv
E0 (01).csv
E0 (02).csv
E0 (03).csv
E0 (04).csv
E0 (05).csv
E0 (06).csv
E0 (07).csv
E0 (08).csv
E0 (09).csv
E0 (10).csv
E0 (11).csv
E0 (12).csv
E0 (13).csv
E0 (14).csv
E0 (15).csv
E0 (16).csv
E0 (17).csv
E0 (18).csv
E0 (19).csv
E0 (20).csv
E0 (21).csv
E0 (22).csv
E0 (23).csv
E0 (24).csv

In [4]:
tempdf.head()

  Div      Date        HomeTeam     AwayTeam  FTHG  FTAG FTR
0  E0  20/08/94         Arsenal     Man City   3.0   0.0   H
1  E0  20/08/94         Chelsea      Norwich   2.0   0.0   H
2  E0  20/08/94        Coventry    Wimbledon   1.0   1.0   D
3  E0  20/08/94  Crystal Palace    Liverpool   1.0   6.0   A
4  E0  20/08/94         Everton  Aston Villa   2.0   2.0   D

In [5]:
tempdf.shape

(10113, 7)

In [6]:
len(tempdf['HomeTeam'].unique())

49

In [7]:
homeGroups = tempdf.groupby('HomeTeam')

In [8]:
days1 = [10,20,30,45]
days = list(range(60,800,30))
days = days1 + days

In [13]:
timeDeltaObjs =  [pd.Timedelta(days=x) for x in days]

In [14]:
timeDeltaObjs

[Timedelta('10 days 00:00:00'),
 Timedelta('20 days 00:00:00'),
 Timedelta('30 days 00:00:00'),
 Timedelta('45 days 00:00:00'),
 Timedelta('60 days 00:00:00'),
 Timedelta('90 days 00:00:00'),
 Timedelta('120 days 00:00:00'),
 Timedelta('150 days 00:00:00'),
 Timedelta('180 days 00:00:00'),
 Timedelta('210 days 00:00:00'),
 Timedelta('240 days 00:00:00'),
 Timedelta('270 days 00:00:00'),
 Timedelta('300 days 00:00:00'),
 Timedelta('330 days 00:00:00'),
 Timedelta('360 days 00:00:00'),
 Timedelta('390 days 00:00:00'),
 Timedelta('420 days 00:00:00'),
 Timedelta('450 days 00:00:00'),
 Timedelta('480 days 00:00:00'),
 Timedelta('510 days 00:00:00'),
 Timedelta('540 days 00:00:00'),
 Timedelta('570 days 00:00:00'),
 Timedelta('600 days 00:00:00'),
 Timedelta('630 days 00:00:00'),
 Timedelta('660 days 00:00:00'),
 Timedelta('690 days 00:00:00'),
 Timedelta('720 days 00:00:00'),
 Timedelta('750 days 00:00:00'),
 Timedelta('780 days 00:00:00')]

In [15]:
tempdf.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR'], dtype='object')

In [18]:
def parallel(group):
    k, df = group
    days1 = [10,20,30,45]
    days = list(range(60,800,30))
    days = days1 + days
    timeDeltaObjs =  [pd.Timedelta(days=x) for x in days]
    for index, row in df.iterrows():
        for idx in range(len(days)):
            cond = ((df.HomeTeam == row.HomeTeam and row.FTR == "H") or (df.AwayTeam == row.AwayTeam and row.FTR == "A"))  and\
            (df.Date > (row.Date - timeDeltaObjs[idx])) & (df.Date < row.Date)
            df.loc[index,"home_count_days_"+str(days[idx])] = sum(cond)
    return df

In [17]:
from multiprocessing.pool import Pool

In [ ]:
with Pool(2) as pool:
    result = pd.concat(pool.map(parallel, homeGroups))